name: CI

on: [push, pull_request]

jobs:
  jvm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 20

      - uses: gradle/gradle-build-action@v2.9.0

      - name: Build
        run: ./gradlew build

  java-sample-different-jdks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 8, 21 ]

    steps:
      - uses: actions/checkout@v4

      - uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - uses: gradle/gradle-build-action@v2.9.0

      - name: Build
        working-directory: java-sample/
        run: ./gradlew build

  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'SimonScholz/qr-code-with-logo' && github.ref == 'refs/heads/main'
    needs:
      - jvm
      - java-sample-different-jdks
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 20

      - uses: gradle/gradle-build-action@v2.9.0

      - name: Publish Artifacts
        run: ./gradlew publishAllPublicationsToMavenCentral
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_IN_MEMORY_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
