name: CI

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**/README.md'
      - '**/README.adoc'
  pull_request:
    branches:
      - 'main'

jobs:
  kotlin-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Wrapper validation
        uses: gradle/actions/wrapper-validation@v4
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build with Gradle
        run: ./gradlew build

  java-sample-different-jdks:
    if: false
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 8, 21 ]

    steps:
      - uses: actions/checkout@v5

      - uses: gradle/actions/wrapper-validation@v4

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - uses: gradle/actions/setup-gradle@v4

      - name: Build
        working-directory: java-sample/
        run: ./gradlew build

  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'SimonScholz/qr-code-with-logo' && github.ref == 'refs/heads/main'
    needs:
      - kotlin-build
      # - java-sample-different-jdks
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - name: Publish qr-code artifact
        run: ./gradlew qr-code:publishAllPublicationsToMavenCentral
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_IN_MEMORY_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}

      - name: Publish qr-code-svg artifact
        run: ./gradlew qr-code-svg:publishAllPublicationsToMavenCentral
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_IN_MEMORY_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
